body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .login-container h2{
    display: flex;
    justify-content: center;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .login-container .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .login-container button {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button.submit {
    background-color: #3498db;
    color: #fff;
  }
  
  .login-container button.switch {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .login-container button:hover {
    background-color: #2980b9;
  }