body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  background-color: #d4dfc7 !important;
  /* background-color: #5ea8a2;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* #8ab0ab
  #3e505b
  #26413c
  #1a1d1a
  #03120e */
#725752 /* Buttons*/
  #878e88 /* Buttons*/
  #96c0b7 /* Panel*/
  #d4dfc7 /* Background*/
  #fef6c9 /* Cards*/
  .pagination_button {
  background-color: #3e505b !important;
}
.panel {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  background-color: #96c0b7;
}
.card {
  background-color: #fef6c9 !important;
  border-radius: 10px;
}
.card-body {
  background-color: #fef6c9;

  border-radius: 10px;
  color: white;
}
.modal-content {
  background-color: #878e88 !important;
}
.form-control {
  background-color: #d4dfc7 !important;
}
.form-select {
  background-color: #d4dfc7 !important;
}

label::after {
  background-color: #d4dfc7 !important;
}

.btn {
  --bs-btn-bg: white;
  background-color: #725752 !important;
  border: 1px solid #725752 !important;
  border-radius: 1px;
  padding: 1px;
}
.page-link {
  background-color: #3e505b !important;
  border: none !important;
  color: white !important;
}
.page-item.active > .page-link {
  background-color: #725752 !important;
}

.centered-panel-element {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.table td {
  background-color: #d4dfc7 !important;
}
.table th {
  background-color: #3e505b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menus {
  margin: 0;
  padding: 0;

  justify-content: center;
  position: relative;
  align-items: center;
  width: 1000px;
}
#menus h2 {
  text-align: left;
}
#menus menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  justify-content: center;
}

#menus menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #fef6c9;
  color: #6929ad;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#menus menu button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

#menus menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

/*  .card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #ebe7ef;
} */

.drink-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drink-buttons button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.profile-picture-container {
  width: 150px !important;
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-options {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-col {
  margin-left: 10px;
}
